### Set:
	• Store non-duplicate items
	• Very fast access vs lists
	• Math Set ops (union, Intersect)
	
    In Python, Set is an unordered collection of data type that is iterable, 
    mutable and has no duplicate elements. The order of elements in a set 
    is undefined though it may consist of various elements.

    The major advantage of using a set, as opposed to a list, is that it 
    has a highly optimized method for checking whether a specific element 
    is contained in the set.

    Creating a Set
    Sets can be created by using the built-in set() function with an 
    iterable object or a sequence by placing the sequence inside curly 
    braces, separated by ‘comma’.

**O(n)** for list<br>
**O(1)** for set

[Set Methods](https://www.programiz.com/python-programming/methods/set)
[YouTube](https://www.youtube.com/watch?v=r3R3h5ly_8g)

**Create a set**

In [3]:
s1 = {1, 2, 3, 4, 5}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5}
<class 'set'>

**Create set from list**

In [10]:
s1 = set([1, 2, 3, 4, 5])
print(s1)
print(type(s1))

{1, 2, 3, 4, 5}
<class 'set'>

**Create an empty set**

In [7]:
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

**Create set and remove duplcate value**

In [9]:
s1 = set([1, 1, 2, 2, 3, 3, 4, 4, 5, 5])
print(s1)
print(type(s1))

{1, 2, 3, 4, 5}
<class 'set'>

**Set add()**

    The set add() method adds a given element to a set. If the element is already present, it doesn't add any element.

    The syntax of set add() method is:
        set.add(elem)

In [12]:
s1 = {1, 2, 3, 4, 5}
s1.add(6)
print(s1)

{1, 2, 3, 4, 5, 6}

**Set update()**

    The update() adds elements from a set (passed as an argument) to the set (calling the update() method).
    
    The syntax of update() is:
        A.update(B)

In [1]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 7, 8}

result = s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 7, 8}

result = s1.update([7, 8, 9], s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**Set remove()**

    The remove() method searches for the given element in the set and removes it.
    if the element is not present in the set, remove() throw a 'KeyError'.
    
    The syntax of remove() method is:
        set.remove(element)

In [3]:
s1 = {1, 2, 3, 4, 5}
s1.remove(5)
print(s1)

{1, 2, 3, 4}

In [4]:
s1 = {1, 2, 3, 4, 5}
s1.remove(6)
print(s1)

KeyError: 6

**Set discard()**

    The discard() method removes a specified element from the set (if present).

    The syntax of discard() in Python is:
        s.discard(x)

In [5]:
s1 = {1, 2, 3, 4, 5}
s1.discard(5)
print(s1)

{1, 2, 3, 4}

In [6]:
s1 = {1, 2, 3, 4, 5}
s1.discard(6)
print(s1)

{1, 2, 3, 4, 5}

**Set pop()**

    The pop() method removes an arbitrary element from the set and returns the element removed. 
    
    The pop() method returns an arbitrary (random) element from the set. Also, the set is updated and will not contain the element (which is returned). If the set is empty, TypeError exception is raised.
    
    The syntax of pop() for sets is:
        set.pop()

In [26]:
s1 = {1, 2, 3, 4, 5}
s2 = s1.pop()
print(s1)
print(s2)

{2, 3, 4, 5}
1

**Set intersection()**

    The intersection() method returns a new set with elements that are common to all sets.

    The syntax of intersection() in Python is:
        A.intersection(*other_sets)

In [10]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}

s4 = s1.intersection(s2)
print(s4)

{2, 3}

In [11]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}

s4 = s1.intersection(s2, s3)
print(s4)

{3}

**Set difference()**

    The difference() method returns the set difference of two sets.

    The syntax of difference() method in Python is:
        A.difference(B)

In [12]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}

s4 = s1.difference(s2)
print(s4)

{1}

In [13]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}

s4 = s2.difference(s1)
print(s4)

{4}

In [14]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}

s4 = s2.difference(s1, s3)
print(s4)

set()

**Set symmetric_difference()**

    The symmetric_difference() returns a new set which is the symmetric difference of two sets.

    The syntax of symmetric_difference() is:
        A.symmetric_difference(B)

In [15]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = {3, 4, 5}

s4 = s1.symmetric_difference(s2)
print(s4)

{1, 4}

**Removing duplicates from a list**

In [18]:
l1 = [ 1, 2, 3, 1, 2, 3]
l2 = list(set(l1))
print(l2)

[1, 2, 3]

**Find all employees who are developers and gym_membors**

In [22]:
employees = ['Corey', 'Jim', 'Steven', 'April', 'Judy', 'Jenn', 'John', 'Jane']
gym_members = ['April', 'John', 'Corey']
developers = ['Judy', 'Corey', 'Steven', 'Jane', 'April']

# Both in gym_membors and developers
result = set(gym_members).intersection(developers)
print(result)

{'Corey', 'April'}

**Find all employee who are not in developers or gym_membors**

In [23]:
employees = ['Corey', 'Jim', 'Steven', 'April', 'Judy', 'Jenn', 'John', 'Jane']
gym_members = ['April', 'John', 'Corey']
developers = ['Judy', 'Corey', 'Steven', 'Jane', 'April']

# Both in gym_membors and developers
result = set(employees).difference(gym_membors, developers)
print(result)

{'Jim', 'Jenn'}