### List:
	• General Purpose
	• Mutable (can add/change)
	• Most widely used data structure
	• Grow and shrink as needed
	• Sequence type
	• Sortable
	
    Lists are just like the arrays, declared in other languages. Lists 
    need not be homogeneous always which makes it a most powerful tool 
    in Python. A single list may contain Data Types like Integers, Strings, 
    as well as Objects. Lists are mutable, and hence, they can be altered 
    even after their creation.

    List in Python are ordered and have a definite count. The elements 
    in a list are indexed according to a definite sequence and the indexing 
    of a list is done with 0 being the first index. Each element in the 
    list has its definite place in the list, which allows duplicating of 
    elements in the list, with each element having its own distinct place 
    and credibility.

    Note- Lists are a useful tool for preserving a sequence of data and 
    further iterating over it.
    
[List Methods](https://www.programiz.com/python-programming/methods/list)<br>
[YouTube Video](https://www.youtube.com/watch?v=W8KRzm-HUcc)

**Create an empty list**

In [4]:
courses = []
print(courses)

[]

**Create a list with values (you can separate values using comma)**

In [3]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print(courses)

['History', 'Math', 'Physics', 'CompSci']

**find how many values in the list.**

In [5]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print(len(courses))

4

**Access the 1st value in a list.**

In [6]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print(courses[0])

History

**Access the last value in a list.**

In [7]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print(courses[-1])

CompSci

**Access a range of values. (note that last index is not included while slicing).**

In [8]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print(courses[0:2])

['History', 'Math']

**If you don't specify the starting point, it assume it as 0.**

In [9]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print(courses[:2])

['History', 'Math']

**If you don’t specify the ending point, slice including the last.**

In [10]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print(courses[2:])

['Physics', 'CompSci']

**Add an item to the end of the list.**

In [11]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.append('Art')
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art']

**Add an item to a specific location of the list.**

In [12]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.insert(0,'Art')
print(courses)

['Art', 'History', 'Math', 'Physics', 'CompSci']

**Extending a list using another list. (using insert method).**

In [13]:
courses = ['History', 'Math', 'Physics', 'CompSci']
cources_2 = ['Art', 'Education']
courses.insert(0, cources_2)
print(courses)

[['Art', 'Education'], 'History', 'Math', 'Physics', 'CompSci']

**Extending a list using another list. (using append method).**

In [14]:
courses = ['History', 'Math', 'Physics', 'CompSci']
cources_2 = ['Art', 'Education']
courses.append(cources_2)
print(courses)

['History', 'Math', 'Physics', 'CompSci', ['Art', 'Education']]

**Extending a list using another list. (using extend method)**

In [15]:
courses = ['History', 'Math', 'Physics', 'CompSci']
cources_2 = ['Art', 'Education']
courses.extend(cources_2)
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Education']

**Remove some values from the list.**

In [16]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.remove('Math')
print(courses)

['History', 'Physics', 'CompSci']

**Remove the last value from the list (using pop, pop by default remove the last value).**

In [17]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.pop()
print(courses)

['History', 'Math', 'Physics']

**while using pop you can capture the value removed from the list.**

In [18]:
courses = ['History', 'Math', 'Physics', 'CompSci']
popped = courses.pop()
print(courses)
print(popped)

['History', 'Math', 'Physics']
CompSci

**Reverse the list.**

In [19]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.reverse()
print(courses)

['CompSci', 'Physics', 'Math', 'History']

**Sorting the list.**

In [20]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.sort()
print(courses)

['CompSci', 'History', 'Math', 'Physics']

**By default, Strings sort alphabetically, Numbers sorted in ascending order.**

In [21]:
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [3,4,2,1,5]
courses.sort()
nums.sort()
print(courses)
print(nums)

['CompSci', 'History', 'Math', 'Physics']
[1, 2, 3, 4, 5]

**Reverse sort for string and numbers.**

In [22]:
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [3,4,2,1,5]
courses.sort(reverse=True)
nums.sort(reverse=True)
print(courses)
print(nums)

['Physics', 'Math', 'History', 'CompSci']
[5, 4, 3, 2, 1]

**Get a sorted version of the list without altering the original list.**<br>

    (in this case you can see nothing happens to original list)

In [27]:
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [3,4,2,1,5]

print(sorted(courses))
print(sorted(nums))
print()
print(courses)
print(nums)

['CompSci', 'History', 'Math', 'Physics']
[1, 2, 3, 4, 5]

['History', 'Math', 'Physics', 'CompSci']
[3, 4, 2, 1, 5]

**To Get a sorted version of the original list.**

In [28]:
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [3,4,2,1,5]
sorted_cources = sorted(courses)
sorted_nums = sorted(nums)
print(courses)
print(nums)
print(sorted_cources)
print(sorted_nums)

['History', 'Math', 'Physics', 'CompSci']
[3, 4, 2, 1, 5]
['CompSci', 'History', 'Math', 'Physics']
[1, 2, 3, 4, 5]

**Find the minimum.**

In [31]:
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [3,4,2,1,5]
print(min(courses))
print(min(nums))

CompSci
1

**Find the max value.**

In [33]:
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [3,4,2,1,5]
print(max(courses))
print(max(nums))

Physics
5

**Find the sum of all value.**

In [36]:
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [3,4,2,1,5]
print(sum(nums))

15

**Find the index (position) of a value.**

In [37]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print(courses.index('CompSci'))

3

**In case the value not in the list we get a ValueError.**

In [38]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print(courses.index('Art'))

ValueError: 'Art' is not in list

**To check a value in the list.**

In [39]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print('Art' in courses)

False

In [40]:
nums = [3,4,2,1,5]
print(4 in nums)

True

**Looping through a list.**

In [41]:
courses = ['History', 'Math', 'Physics', 'CompSci']
for item in courses:
    print(item)

History
Math
Physics
CompSci

**Access the index and the value while looping.**

In [42]:
courses = ['History', 'Math', 'Physics', 'CompSci']
for index, item in enumerate(courses):
    print(f"{index} : {item}")

0 : History
1 : Math
2 : Physics
3 : CompSci

**To Set the index number starting position.**

In [43]:
courses = ['History', 'Math', 'Physics', 'CompSci']
for index, item in enumerate(courses, start=11):
    print(f"{index} : {item}")

11 : History
12 : Math
13 : Physics
14 : CompSci

**Join the values in a list.**

In [44]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_str = '_'.join(courses)
print(courses_str)

History_Math_Physics_CompSci

**Create a list by splitting a string.**

In [45]:
courses_str = 'History_Math_Physics_CompSci'
courses = courses_str.split('_')
print(courses)

['History', 'Math', 'Physics', 'CompSci']