# Creating Dataframe

    A list of lists/tuples can be used to create a DataFrame.
    
[YouTube](https://www.youtube.com/watch?v=dl9K13PCdJ0)

In [2]:
import pandas as pd

In [1]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

In [4]:
data = list(zip(names, births))
print(data)

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [5]:
df = pd.DataFrame(data, columns=['Name', 'Births'])

In [6]:
print(df)

      Name  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [7]:
df.to_csv("data/babies.csv", index=False)

In [8]:
!cat data/babies.csv

Name,Births
Bob,968
Jessica,155
Mary,77
John,578
Mel,973

In [10]:
df = pd.DataFrame(data, columns=['Name', 'Births'], index=['A', 'B', 'C', 'D', 'E'])
df

      Name  Births
A      Bob     968
B  Jessica     155
C     Mary      77
D     John     578
E      Mel     973