## Understanding Columns

[YouTube](https://www.youtube.com/watch?v=2wME30BZuFY)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/imdb_1000.csv")

### Selecting columns
    When you read a CSV, you get a kind of object called a DataFrame, which is made up of rows and columns. You get columns out of a DataFrame the same way you get elements out of a dictionary.

In [3]:
df.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [4]:
df['star_rating']

0      9.3
1      9.2
2      9.1
3      9.0
4      8.9
      ...
974    7.4
975    7.4
976    7.4
977    7.4
978    7.4
Name: star_rating, Length: 979, dtype: float64

In [5]:
df[['star_rating', 'title']]

     star_rating                                            title
0            9.3                         The Shawshank Redemption
1            9.2                                    The Godfather
2            9.1                           The Godfather: Part II
3            9.0                                  The Dark Knight
4            8.9                                     Pulp Fiction
..           ...                                              ...
974          7.4                                          Tootsie
975          7.4                      Back to the Future Part III
976          7.4  Master and Commander: The Far Side of the World
977          7.4                                      Poltergeist
978          7.4                                      Wall Street

[979 rows x 2 columns]

On the inside, the type of a column is pd.Series and pandas Series are internally numpy arrays. If you add .values to the end of any Series, you'll get its internal numpy array.

In [6]:
type(df['star_rating'])

pandas.core.series.Series

In [7]:
sr = df['star_rating']

In [8]:
df.index

RangeIndex(start=0, stop=979, step=1)

In [9]:
sr.index

RangeIndex(start=0, stop=979, step=1)

In [10]:
sr.values.mean()

7.889785495403474