## f-string in Python3
[Corey Schafer](https://www.youtube.com/watch?v=nghuHvKLhJA)<br> [Indian Pythonista](https://www.youtube.com/watch?v=s6C3kYCNmLc)

In [1]:
a = 1
b = 2

**printf-style** String Formatting <br>[Python Doc](https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting)

In [2]:
print("a=%d b=%d"%(a,b))

a=1 b=2

**.format** Method

In [3]:
print("a={} b={}".format(a, b))

a=1 b=2

In [4]:
name = "Casey Boy"
breed = "Porty"
age = 3
city = "Redwood City"
state = "California"

In [5]:
print("My name is {} and i'm a {}. I'm {} years old, And i live in {}, {}".format(name, breed, age, city, state))

My name is Casey Boy and i'm a Porty. I'm 3 years old, And i live in Redwood City, California

In [6]:
print(f"My name is {name} and i'm a {breed}. I'm {age} years old, And i live in {city}, {state}")

My name is Casey Boy and i'm a Porty. I'm 3 years old, And i live in Redwood City, California

In [7]:
print(f"Sum of {a} and {b} is equal to {a+b}")

Sum of 1 and 2 is equal to 3

#### Using Lambda with f-string.

In [8]:
n = [2, 4]
print(f"{n} and {list(map(lambda x: x*x, n))}")

[2, 4] and [4, 16]

#### Using List comprehension with f-string.

In [9]:
m = [4, 8]
print(f"{m} and {[i*i for i in m]}")

[4, 8] and [16, 64]

#### f-string formatting.

In [10]:
name = 'Casey Boy'
age = 3
weight = 58
breed = 'Porty'
print(f"His name is {name} and he is {age} yeas old, he weight around {weight} pounds and he is a {breed}.")

His name is Casey Boy and he is 3 yeas old, he weight around 58 pounds and he is a Porty.

#### Using f-string with dictionary.

In [11]:
x = {'name':'Robin', 'wifey':'Nicole', 'dog':'Casey'}
print(f"{x['name']} and {x['wifey']} loves {x['dog']}")

Robin and Nicole loves Casey

#### Including single quotes in f-string formatting.

In [12]:
f'He said his name is {name!r}.'

"He said his name is 'Casey Boy'."

#### 4 place zero padded formatting.

In [13]:
for i in range(10):
    print(f"NUmber : {i:04}:")

NUmber : 0000:
NUmber : 0001:
NUmber : 0002:
NUmber : 0003:
NUmber : 0004:
NUmber : 0005:
NUmber : 0006:
NUmber : 0007:
NUmber : 0008:
NUmber : 0009:

####  Right align formatting with 4 space.

In [14]:
for i in range(10):
    print(f"NUmber : {i:>4}:")

NUmber :    0:
NUmber :    1:
NUmber :    2:
NUmber :    3:
NUmber :    4:
NUmber :    5:
NUmber :    6:
NUmber :    7:
NUmber :    8:
NUmber :    9:

#### Left align with four space.

In [15]:
for i in range(10):
    print(f"Number : {i:<4}:")

Number : 0   :
Number : 1   :
Number : 2   :
Number : 3   :
Number : 4   :
Number : 5   :
Number : 6   :
Number : 7   :
Number : 8   :
Number : 9   :

#### Floating Point formatting.

In [16]:
pi = 3.14159265
sentence = f"Pi is equal to {pi}"
print(sentence)

Pi is equal to 3.14159265

#### Limit floating point to 4 (which is also rounded)

In [17]:
pi = 3.14159265
sentence = f"Pi is equal to {pi:.4f}"
print(sentence)

Pi is equal to 3.1416

#### Date formatting.

In [18]:
from datetime import datetime
birthday = datetime(2016, 10, 15)
print(f"Casey's Birthday is on {birthday}")

Casey's Birthday is on 2016-10-15 00:00:00

In [19]:
from datetime import datetime
birthday = datetime(2016, 10, 15)
print(f"Casey's Birthday is on {birthday:%A}")

Casey's Birthday is on Saturday

In [20]:
from datetime import datetime
birthday = datetime(2016, 10, 15)
print(f"Casey's Birthday is on {birthday:%A %B %d, %Y}")

Casey's Birthday is on Saturday October 15, 2016

### String Interpolation: <br>
    The process of evaluating a string literal containing one or more placeholders, 
    yielding a result in which the placeholders are replaces with their corresponding values.
[YouTube](https://www.youtube.com/watch?v=0q8spKeh1Kc)

**This is an example for string concatenation.**

In [21]:
name = 'Casey'
age = 3
greeting = 'My name is ' + name + ' and i am ' + str(age) + ' years old'
print(greeting)

My name is Casey and i am 3 years old

**This is an example for string interpolation.**

In [22]:
name = 'Casey'
age = '3'
greeting = 'My name is {} and I am {} years old'.format(name, age)
print(greeting)

My name is Casey and I am 3 years old

**Order of variable is not matter while using .format() method.**

In [23]:
name = 'Casey'
age = '3'
greeting = 'My name is {name} and I am {age} years old'.format(age=age, name=name)
print(greeting)

My name is Casey and I am 3 years old

**Using f-string for string interpolation!**

In [24]:
name = 'Casey'
age = '3'
greeting = f'My name is {name} and I am {age} years old'
print(greeting)

My name is Casey and I am 3 years old